body {
    margin: auto;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.separator{
	height:10px;
	background-color:#ddd;
	margin-bottom:10px;
}

.background-showcase {
  background: url("../img/03Creative.jpg") no-repeat transparent;
  background-size: cover;
}

.ionic-header {
	background-color: #4f8ef7;
	padding: 2px;
}

.jumbo{
    padding-top:30px;padding-bottom:30px;margin-bottom:30px;color:inherit;background-color:#eee
}
.jumbo .h1,.jumbo h1{
    color:inherit
}
.jumbo p{
    margin-bottom:15px;font-size:21px;font-weight:200
}
.jumbo>hr{
    border-top-color:#d5d5d5
}.container .jumbo,.container-fluid .jumbo{
    padding-right:15px;padding-left:15px;border-radius:6px
}
.jumbo .container{
    max-width:100%
}
@media screen and (min-width:768px){
    .jumbo{
        padding-top:48px;padding-bottom:48px
    }
    .container .jumbo,.container-fluid .jumbo{
        padding-right:60px;padding-left:60px
    }
    .jumbo .h1,.jumbo h1{
        font-size:63px
    }
}